:root {
  --blockSize: 40px;
  --gapSize: 10px;
  --boardSize: 10;
}

[draggable="true"] {
  /*
   To prevent user selecting inside the drag source
  */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.block {
  height: var(--blockSize);
  width: var(--blockSize);
  background-color: white;
}

.block.computer:hover:not(.attacked) {
  background-color: lightblue;
}

.block.computer.attacked {
  cursor: not-allowed;
}

.block.attacked {
  background-color: blue;
}

.block.attacked.ship {
  background: url('./assets/cross.svg');
  background-repeat: no-repeat;
  background-size: var(--blockSize) var(--blockSize);
  background-color: gray;
}

.block.ship:not(.computer) {
  background-color: gray;
}

.block.hover {}

.board {
  width: calc(var(--boardSize)*var(--boardSize));
  height: calc(var(--boardSize)*var(--boardSize));
  display: grid;
  grid-template-columns: repeat(10, var(--blockSize));
  grid-auto-rows: var(--blockSize);
  gap: var(--gapSize);
  border: var(--gapSize) solid black;
  background-color: black;
}

.boardWrapper {
  display: grid;
  grid-template-rows: min-content min-content;
}

#container {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  justify-content: space-evenly;
}

.shipContainer {
  background-color: black;
  display: grid;
  gap: var(--gapSize);
  grid-auto-columns: var(--blockSize);
}